.productPage
{
    margin:24px 13%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productListContainer
{
    width:55%;
    box-sizing: border-box;
    height: auto;
    box-shadow:1px 1px 5px 0 #455c71;
    background-color:#435c70;
}
.productTableContainer
{
    overflow-y: scroll;
    height: max-content;
    max-height: 445px;
    width:90%;
    margin:40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 15px;
}
table 
{
    background-color: #50697f;
    color: #fff;
    margin-bottom: 0;
    border-collapse: collapse;
    margin:0;
    width:100%;
}
.l-table
{
    width:100%;
}
thead
{
    background-color: #486177;
    color: #fff;
    font-size: 12px;
}
tr
{
    transition: all 0.2s ease;
    font-weight: 600;
}
table thead th
{
    padding:14px 18px;
}
table tbody th
{
    padding:25px 20px;
}
table tbody td
{
    padding-left:30px;
}
table input
{
    background-color: #394e64;
    padding:10px;
    cursor: pointer;
    border-radius: 20px;
}
table tbody i
{
   font-size: 20px;
   background-color: #394e64;
   border-radius:50%;
   padding:11px;
   cursor: pointer;
}
.buttonContainer
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.categoryButtonContainer
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.add-btn,.de-se-btn,.category-btn
{
    font-size: 90%;
    width:100%;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: white;
    padding:15px 28px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    margin-top: 0;
    background-color: #f5a623;
    border: 2px solid #f5a623;
}
.de-se-btn
{
    margin-bottom:30px;
}
.categoryListContainer
{
    width:40%;
    background-color: #435c70;
    box-shadow:  1px 5px 0 #455c71;
    height:max-content;
}
.categoryListContainer h2
{
    font-size: 17px;
    color: #fff;
    margin-bottom: 30px; 
    padding-top:20px;
    padding-left:40px;
}
.categoryTableContainer
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    max-height: 425px;
    overflow-y: scroll;
}
@media(max-width:720px)
{
    .productPage
    {
        flex-direction: column;
        margin:24px 5%;
    }
    .productListContainer
    {
        width:100%;
        max-height:auto;
    }
    .categoryListContainer
    {
        width:100%;
        margin-top:40px;
    }
}