.addPage
{
    margin:4% auto;
    width:48%;
    background-color: #435c70;
    padding:20px 40px;
}
.addPage h2
{
    font-size: 1.1rem;
    font-weight:700;
    color:white;
    margin-bottom:30px;
}
.credentialsContainer
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.credentials
{
    width:47%;
}
.formGroup
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.formGroup label
{
    display: block;
    color: white;
    font-size: 17px;
}
.accountFormInput
{
    width:100%;
    box-sizing: border-box;
    padding:19px 18px;
    background-color: #54657d;
    border:none;
    color: white;
}
select
{
    background-color: #4e657a;
    color: #acc6de;
    width: 100%;
    padding:15px 20px;
    font-size: 17px;
}
option
{
    padding:20px 30px;
    font-size: 15px;
}
.UnitsInStocksContainer
{
    width:46%;
}
.uploadContainer
{
    width: 50%;
}
.upload-img
{
    width:100%;
}
.uploadInput
{
    width:100%;
    width:0.1px;
    height:0.1px;
    opacity: 0;
    z-index: -1;
}
.uploadInputLabel
{
    font-size: 90%;
    width:100%;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    background-color: #f5a623;
    border: 2px solid #f5a623;
}
.uploadInputLabel:hover
{
    border: 2px solid #f5a623;
    color:#f5a623;
    background-color: transparent;
}
.buttonContainer
{
    width:100%;
}
.add-pdt-btn
{
    font-size: 90%;
    width:100%;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    background-color: #f5a623;
    border: 2px solid #f5a623;
    margin-top:0
}
@media(max-width:720px)
{
    .addPage
    {
        width:80%;
        padding: 12px 16px;
    }
    .credentialsContainer
    {
        flex-direction: column;
    }
    .credentials
    {
        width: 100%;;
    }
    .UnitsInStocksContainer
    {
        width:100%
    }
    .uploadContainer
    {
        width:100%;
    }
    .uploadInputLabel
    {
        font-size: 16px;
        padding:12px 16px;
        font-weight: 600;
    }
}
