.account-page
{
    color: white;
    margin:0;
}
.acc-container{
    margin:0 13%;
}
.list-Container
{
    background-color:#435c70;
    box-sizing: border-box;
    margin-top: 35px;
    height:220px;
    padding:25px 40px;
}
.list-Container h2
{
    font-size: 20px;
    padding-bottom: 15px;
}
.dropdown
{
    background-color: #4e657a;
    color: #acc6de;
    width: 100%;
    padding:15px 20px;
    font-size: 17px;
}
option
{
    padding:20px 30px;
    font-size: 15px;
}
.accountCredentialsContainer
{
    display: flex;
    justify-content: space-between;
}
.avatarContainer
{
    background-color:#435c70;
    height:510px;
    box-sizing: border-box;
    width:30%;
    margin-top:35px;
    margin-bottom:50px;
    padding:20px 40px;
}
.avatarContainer h2
{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.avatarContainer img
{
    cursor: pointer;
    width:100%;
    height:265px;
    display: block;
}
.avatarContainer i
{
   font-size: 20px;
   background-color: #394e64;
   border-radius:50%;
   padding:15px;
   position: absolute;
   top:79%;
   left:25%;
   display: none;
   transition-duration: 5s;
}
.imageContainer:hover i{
    display: block;
}
.avatarContainer input
{
    width:100%;
    width:0.1px;
    height:0.1px;
    opacity: 0;
    z-index: -1;
}
.avatarContainer  label{
    font-size: 90%;
    width:100%;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: white;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    background-color: #f5a623;
    border: 2px solid #f5a623;
}
.avatarContainer label:hover
{
    border: 2px solid #f5a623;
    color:#f5a623;
    background-color: transparent;
}
.avatarCredentials
{
    background-color:#435c70;
    margin-top: 35px;
    margin-bottom: 50px;
    box-sizing: border-box;
    padding: 20px 40px; 
    width:66%;
    padding-bottom: 30px;
}
.avatarCredentials h2
{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
}
.accountsForm
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.accountFormGroup
{
    margin-bottom: 15px;
    margin-top:10px;
    width:45%;
    margin-right: 15px;
}
label
{
    display: block;
    margin-bottom: 12px;
}
.formInput
{
    padding:19px 18px;
    height:15px;
    background-color: #54657d;
    color:white;
    width:100%;
    border:none;
}
.updateBtn,.deleteBtn
{
    font-size: 90%;
    width:100%;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    color: white;
    padding:15px 28px;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
    margin-top: 25px;
    background-color: #f5a623;
    border: 2px solid #f5a623;
}
.deleteButtonContainer
{
    width:100%;
}
@media(max-width:720px)
{
    .acc-container
    {
        margin:0 4%;
    }
    .accountCredentialsContainer
    {
        flex-direction: column;
    }
    .list-Container
    {
        padding:12px 18px;
    }
    .avatarContainer
    {
        width:100%;
    }
    .avatarCredentials
    {
        width:100%;
        padding-left:12px;
    }
    .accountFormGroup
    {
        width: 100%;
    }
    .updateBtn,.deleteBtn
    {
        padding:0;
        width:100%;
        margin-left:auto;
        margin-right: auto;
        padding:12px 16px;
    }
    .formInput
    {
        height: 12px;
        padding:18px 16px;
    }
}
