.popup-back
{
    background-color: black;
    width:100%;
    height:80%;
    position: absolute;
    top:10%;
    left:0;
    opacity:0.8;
}
.popup-box
{
    width:30%;
    padding-right: 12px;
    height:max-content;
    margin:auto auto;
    margin-top:3%;
    position: absolute;
    top:7%;
    left:34%; 
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow:0 0 8px black;
    background-color: #435c70;
    opacity:0.9;
    transition-duration: 2s;
}
.popup-nav
{
    display:flex;
}
.popup-nav i
{
    color:#fff;
    margin-left:140px;
    margin-top: 15px;
    font-size: 20px;
}
.popup-title
{
    color:#fff;
    font-size: 30px;
    padding:25px;
    padding-bottom: 0;
}
.popup-form
{
    margin:50px;
    font-size: 30px;
    color:#fff;
    background-color: #394e64;
    padding:20px;
    margin-bottom: 20px;
}
.popup-form input
{
    padding:20px;
    margin:20px;
    width:70%;
    font-size: 20px;
    margin-bottom: 10px;
}
.popup-btn
{
    margin-left:20px;
    width:83%;
    padding:20px 15px;
    margin-bottom: 30px;
}
@media (max-width: 574px)
{
 .popup-back
 {
     width:150%;
     position: absolute;
     top:100px;
     left:0;
     height:2040px;
 }   
 .popup-box
{
    width:470px;
    height:370px;
    margin:auto auto;
    margin-top:100px;
     position: absolute;
    top:1170px;
    left:40px;
}
}