.dash-container
{
    margin-right:0;
    margin-left: 0;
    background-color: #4e657a;
    margin-bottom: 0;
}
.dash-row
{
    margin:0 13%;
}
.dash-title
{
    color:#fff;
    padding:50px 10px;
    margin:0;
}
.dash-content
{
    margin:0 13%;
    margin-bottom: 40px;
}
.con
{
    width:47%;
    background-color:#435c70;
    height:42%;
    display: inline-block;
    margin:14px;
}
.storage-and-noti-boxes
{
    display: flex;
}
.storage-con,.noti-con
{
    width:47%;
    background-color:#435c70;
    height:450px;
    margin:14px;
}
.con-block
{
    margin:35px 40px;
    box-sizing: border-box;
    color:#fff;
}
.con-title
{
    color:#fff;
    font-size: 18px;
}
.order-list
{
    margin:17px;
    background-color:#435c70;
    height:450px;
    overflow-y: scroll;
}
.ol-title
{
    color: #fff;
    padding:10px 40px;
}
@media (max-width: 1274px)
{
    .latest-and-per-boxes
    {
        display:flex;
    }
}

@media (max-width: 574px)
{
    .dash-row
    {
        margin:0 20px;
    }
    .latest-and-per-boxes
    {
        display:block;
    }
    .dash-title
    {
        font-size: 27px;
        padding:70px 0;
    }
    .dash-content
    {
        margin:0 7px;   
    }
    .dash-container
    {
        margin-right: 0;
        margin-left: 0;
        width:530px;
    }
    .con
    {
        width: 480px;
        height:450px;
    }
    .con-block
    {
        height:500px;
    }
    .con-title
    {
        font-size: 25px;
        margin-bottom:80px;
        padding-top:50px;
    }
    .storage-and-noti-boxes
    {
        display: block;
    }
    .storage-con,.noti-con
    {
        width:480px;
        height:450px;
    }
    .order-list
    {
        height: 690px;
        width:480px;
    }
    
}
