body
{
    margin: 0;
    padding: 0;
}
.login-page
{
    margin: 0%;
    padding:64px 0px;
    height: auto;
}
.log-container
{
    background-color: #435c70;
    box-shadow: 2px 2px 2px #567086;
    width:30%;
    margin:0 auto;
    padding: 36px 0 64px 0;
    box-sizing: border-box;
    /* box-sizing: border-box;
    background-color: #435c70;
    width: 35%;
    padding-right: 4.5%;
    padding-left:4.5%;
    margin: auto;
    padding-top:3.7%;
    padding-bottom:3.7%;
    box-shadow: 2px 2px 2px #567086;
    margin-top:4.5%;
    margin-bottom:4.8%; */
}
.p-message
{
    position: absolute;;
    top:55%;
    left:64%;
    color:black;
    width:25%;
    background-color: #fff;
    padding:10px;
    transition-duration: 2s;
    border-radius:8px;
    opacity: 0.9;
}
.p-message i
{
    color:#f5a623;
    padding-right:10px;
}
.u-message
{
    position: absolute;
    opacity: 0.9;
    top:40%;
    border-radius:10px;
    left:64%;
    color:black;
    width:25%;
    background-color: #fff;
    padding:8px;
    transition-duration: 2s;
}
.u-message i
{
    color:#f5a623;
    padding-right:10px;
}
.row
{
    display: flex;
    /* background-color: blue; */
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-right: -10px;
    margin-left: -10px; */
    box-sizing: border-box;
}
.col
{
    width: 100%;
}
.log-title
{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    width:100%;
    text-align: center;
}
.login-form
{
    width:100%;
}
.form-group
{
    width:100%;
    box-sizing: border-box;
    margin-top: 24px;
}
.form-group label
{
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
}
.form-input
{
    padding: 18px 24px;
    border-radius: 0;
    background-color: #54657d;
    color: #fff;
    border: 0;
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
}
.submit-btn
{
    font-size: 90%;
    width:100%;
    margin-top:36px;
    display: block;
    padding:20px 15px;
}
button:hover
{
    border: 2px solid #f5a623;
    color:#f5a623;
    background-color: transparent;
}
button
{
    overflow: visible;
    font-weight: 600;
    color: #fff;
    padding: 8% 5%;
    text-align: center;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 25px;
    background-color: #f5a623;
    border: 2px solid #f5a623;
 }
 @media(max-width:720px)
 {
    
    .login-page
    {
        margin: 0;
        height:80vh;
        padding:0;
        padding-top: 20px;
        box-sizing: border-box;
    }
    .log-container
    {
        width:90%;
    } 
 }