footer
{   
    background-color: #567086;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}
footer div
{
    font-weight: 300;
}
footer p
{
    color:#fff;
    text-align: center;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 14.8px;
    font-weight: 400;
    text-size-adjust: 100%;
    line-height: 19.2px;
}
@media (max-width: 574px)
{
    footer
    {
        width:100%;
        margin-right: 0;
    }
    footer p{
        padding:20px 24px;
    }
}